*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat';
}

.header{
  display: flex;
  gap: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-right: 15%;
}

.header li{
  list-style-type: none;
  font-size: 20px;
  font-family: 'Montserrat';
  padding: 10px;
  border-radius: 5px;
}
.header li:hover{
background-color: aliceblue;
}



.header li a{
  text-decoration: none;
  color: black; 
}



.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.banner{
  width: 100%;
  height: 500px;
 object-fit: fill;
 position: relative;
 filter: blur(0.7px);
}

.banner-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  filter: brightness(1px);
  font-family: 'Montserrat';
}

.explore{
  background-color: transparent;
  color: white;
  border-radius: 50px;
  border: 1px solid white;
  padding: 10px;
  font-size: 25px;
}

.explore:hover{
  background-color: grey;
  color: white;
  opacity: 0.5;
}

.services{
  margin: 10px;
}

.services-text{
  text-decoration: underline;
  font-weight:500;
  font-family: 'Montserrat';
  text-align: center;
}

.footer{
  display: flex;
  text-align: center;
  font-family: 'Montserrat';
  height: 150px;
  align-items: center;
  justify-content: center;
}

.card-container{
  display: flex;
  align-items: start;
  justify-content: space-around;
}

.hr{
  margin: 50px 20px 0 20px ;
 border: 0.5px solid black;
 border-radius: 50px;
}

.mapFrame {
  border: 0 !important;
  width: 80% !important;
  height: 600px !important;
}

.mapContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about{
  margin: 30px;
  text-align: justify;
}

.bg{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.client{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.person-box{
  display: flex;
  gap: 50px;
  margin: 10px;
  width: 50%;
  font-size: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.client-box{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profile-box{
  position: relative;
  display: flex;
}

.profile-item{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.profile-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid #1F7E7A;
}
.profile-content a{
  display: block;
  text-decoration: none;
  color: #1F7E7A;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-box:hover .profile-content {
  display: block;
}


